<?xml version="1.0" ?>
<robot name="bin_filler">
  <link name="dummy_link"/>
  <link name="Bin_Link">
    <visual name="Bin_Link_visual">
      <origin xyz="0.5969 -0.5969 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_model/meshes/bin_assembly.stl"/>
      </geometry>
      <material name="Bin-material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision name="Bin_Link_collision">
      <origin xyz="0.5969 -0.5969 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_model/meshes/bin_assembly.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="scout_link">
    <!-- VISUAL -->
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_model/meshes/DS87-Mechanical_Outline_3D.STP.stl" scale="0.002 0.002 0.002"/>
      </geometry>
      <material name="gray">
        <color rgba="0.3 0.3 0.3 1.0"/>
      </material>
    </visual>
  </link>
  <link name="QR_SE"/>
  <!-- <link name="QR_NE"/>
  <link name="QR_NW"/>
  <link name="QR_SW"/> -->
  <link name="Chute_SE"/>
  <link name="Chute_NE"/>
  <link name="Chute_NW"/>
  <link name="Chute_SW"/>

  <joint name="dummy_joint" type="fixed">
    <origin xyz="-0.5969 0.5969 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="dummy_link"/>
    <child link="Bin_Link"/>
  </joint>

  <joint name="QR_SE_Joint" type="fixed">
    <origin xyz="0.302 -0.302 1.129" rpy="0.785 0.000 0.785"/>
    <parent link="Bin_Link"/>
    <child link="QR_SE"/>
  </joint>

  <joint name="Chute_SE_Joint" type="fixed">
    <origin xyz="0.159 -0.552 1.107" rpy="0 0 0.785"/>
    <parent link="Bin_Link"/>
    <child link="Chute_SE"/>
  </joint>

  <!-- <joint name="QR_NE_Joint" type="fixed">
    <origin xyz="0.302 0.302 1.129" rpy="0.785 0 2.356"/>
    <parent link="Bin_Link"/>
    <child link="QR_NE"/>
  </joint> -->

  <joint name="Chute_NE_Joint" type="fixed">
    <origin xyz="0.552 0.159 1.107" rpy="0 0 2.356"/>
    <parent link="Bin_Link"/>
    <child link="Chute_NE"/>
  </joint>

  <!-- <joint name="QR_NW_Joint" type="fixed">
    <origin xyz="-0.302 0.302 1.129" rpy="0.785 0.000 -2.356"/>
    <parent link="Bin_Link"/>
    <child link="QR_NW"/>
  </joint> -->

  <joint name="Chute_NW_Joint" type="fixed">
    <origin xyz="-0.159 0.552 1.107" rpy="0 0 -2.356"/>
    <parent link="Bin_Link"/>
    <child link="Chute_NW"/>
  </joint>

  <!-- <joint name="QR_SW_Joint" type="fixed">
    <origin xyz="-0.302 -0.302 1.129" rpy="0.785 0.000 -0.785"/>
    <parent link="Bin_Link"/>
    <child link="QR_SW"/>
  </joint> -->

  <joint name="Chute_SW_Joint" type="fixed">
    <origin xyz="-0.552 -0.159 1.107" rpy="0 0 -0.785"/>
    <parent link="Bin_Link"/>
    <child link="Chute_SW"/>
  </joint>

  <joint name="Scout_Cam_Static" type="fixed">
    <origin xyz="-0.5969 1.2192 0.762" rpy="-1.57079633 -1.57079633 0.0"/>
    <parent link="Bin_Link"/>
    <child link="scout_link"/>
  </joint>
</robot>